.navbar {
  height: 3rem;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(17, 8, 100);
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navbar li {
  margin: 0 1rem;
  width: 10rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(175, 244, 91);
  padding-bottom: 0.25rem;
  border-bottom: 4px solid rgb(175, 244, 91);
}
